.ico-check {
  width: 1.25em;
  height: 1em;
  fill: #404994;
}
.ico-close {
  width: 1em;
  height: 1em;
  fill: #C0C4D3;
}
.ico-document {
  width: 0.92em;
  height: 1em;
  fill: #404994;
}
.ico-download {
  width: 1em;
  height: 1em;
  fill: #C0C4D3;
}
.ico-drop-selector {
  width: 1.5em;
  height: 1em;
  fill: #656AEB;
}
.ico-home {
  width: 0.94em;
  height: 1em;
  fill: #464855;
}
.ico-logo {
  width: 7.36em;
  height: 1em;
  fill: none;
}
.ico-market-music {
  width: 1em;
  height: 1em;
  fill: #9FA4C9;
}
.ico-star-empty {
  width: 1.05em;
  height: 1em;
  fill: #404994;
}
.ico-star-filled {
  width: 1em;
  height: 1em;
  fill: #404994;
}
.ico-upload {
  width: 0.73em;
  height: 1em;
  fill: #404994;
}
